# Project exclude paths
/_01_mybatis/target/
/_02_mybatis/target/
/_03_mybatis/target/
/_04_mybatis/target/
/_05_mybatis/target/
/_21_spring/target/
/_22_spring/target/
/_23_spring/target/
/_24_spring/target/
/_25_spring/target/
/_26_spring/target/
/_27_spring/target/
/_28_spring/target/