<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    此spring配置文件专注于对mybatis的设置，后期无需更改此配置文件-->

<!--    1.引入外部数据源-->
    <context:property-placeholder location="classpath:db.properties"/>

<!--    2.替代mybatis配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"    value="${driver}"/>
        <property name="url"                value="${url}"/>
        <property name="username"           value="${user}"/>
        <property name="password"           value="${password}"/>
    </bean>

<!--    3.配置SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        3.1读取数据源-->
        <property name="dataSource" ref="dataSource"/>
<!--        3.2绑定mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
<!--        3.3替代mybatis配置mapper映射-->
        <property name="mapperLocations" value="classpath:mybatis/*.xml"/>
    </bean>

<!--    4.配置SqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>